@use '@angular/material' as mat;
.header {
  width: 100%;
  height: 48px;
  line-height: 48px;
  text-shadow: 2px 2px rgb(216, 216, 216);
  background-color: #ebebeb;
  display: flex;
  justify-content: center;

  .tab {
    width: 100px;
    height: 44px;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
  }

  .tab:hover {
    background-color: rgb(236, 236, 236);
  }

  .tab.active {
    height: 42px;
    padding-top: 4px;
    border-bottom: solid 2px darkred;
  }
}