<div class="details-container">

  <div class="title">
    {{ song.song }}
  </div>

  <div class="artist">
    {{ song.artist }}
  </div>

  <div class="details">
    <div class="chart">
      <div class="title">
        Song: Total Plays
      </div>
      <img class="image" src="/assets/images/barchart_example.png">
    </div>
    <div class="chart">
      <div class="title">
        Artist: Total Plays
      </div>
      <img class="image" src="/assets/images/doublebarchart_example.png">
    </div>
  </div>

</div>