<div class="w-pct-100 h-pct-100">
  <ngx-charts-line-chart
    [results]="data"
    [view]="view"
    [scheme]="colorScheme"
    [schemeType]="colorScheme.group"
    [gradient]="gradient"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [legendTitle]="legendTitle"
    [legendPosition]="legendPosition"
    [animations]="animations"
    [showGridLines]="showGridLines"
    [trimXAxisTicks]="trimXAxisTicks"
    [trimYAxisTicks]="trimYAxisTicks"
    [rotateXAxisTicks]="rotateXAxisTicks"
    [maxXAxisTickLength]="maxXAxisTickLength"
    [maxYAxisTickLength]="maxYAxisTickLength"
    [xAxisTickFormatting]="formatString"
    [yAxisTickFormatting]="formatNumber"
    [yAxisTicks]="yAxisTicks"
    [tooltipDisabled]="tooltipDisabled">
  </ngx-charts-line-chart>
</div>
