@use '@angular/material' as mat;

.dashboard-container {
  height: 100%;
  width: calc(100% - 128px);
  padding: 0 12px;
  overflow-y: auto;
  padding: 64px;

  .title {
    height: 36px;
    line-height: 36px;
    width: 100%;
    text-align: center;
    font: 500 18px Arial;
  }

  .chart {
    width: 900px;
    height: 450px;
    padding: 48px;
    margin: 0 auto;
    @include mat.elevation(3);
  }
  
}