.list {
  height: 100%;
  overflow-y: auto;

  table {
    max-height: calc(100% - 64px);
    overflow-y: auto;
  }
}

.table-header-row {
  background-color: rgb(228, 228, 228);
  position: sticky;
  top: 56px;
  z-index: 1;
  height: 36px;
}

mat-paginator {
  position: sticky;
  top: 0;
  z-index: 1;
}

.loader-container {
  width: 100%;
  padding: 128px 0;
  text-align: center;

  .loader {
    width: 256px;
    height: auto;
  }
}

.data-row {
  cursor: pointer;
}

.data-row:hover {
  filter: brightness(.95);
}