@use '@angular/material' as mat;

.details-container {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  padding: 12px;

  .title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font: 600 22px Arial;
    color: rgb(94, 94, 94);
  }

  .details {
    width: 100%;
    height: calc(100% - 72px);
    display: flex;
    flex-wrap: wrap;

    .chart-container {
      height: calc(50% - 18px);
      width: calc(50% - 36px);
      margin: 6px;
      padding: 12px;
      @include mat.elevation(3);

      .title {
        font: 500 16px Arial;
        color: rgb(160, 160, 160);
      }

      .chart {
        width: calc(100% - 12px);
        height: calc(100% - 48px);
        padding: 6px;
      }
      
      .image {
        height: 100%;
        width: 100%;
      }
    }
  }
}