@use '@angular/material' as mat;

.card-container {
  height: 100%;
  width: calc(100% - 128px);
  padding: 0 12px;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  padding: 64px;

  .card {
    font: 600 24px Arial;
    width: 200px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: rgb(90, 90, 90);
    border-radius: 4px;
    margin: 0 12px;
    cursor: pointer;
    @include mat.elevation(3);
  }

  .card:hover {
    background-color: rgb(240, 240, 240);
  }
}