<!-- Playlist -->
<div class="list" *ngIf="!loading">

  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="20" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="dataSource">

    <!-- Artist Column -->
    <ng-container matColumnDef="artist">
      <th mat-header-cell *matHeaderCellDef> Artist Name </th>
      <td mat-cell *matCellDef="let element"> {{element.artistName}} </td>
    </ng-container>

    <!-- Song Column -->
    <ng-container matColumnDef="song">
      <th mat-header-cell *matHeaderCellDef> Song Name </th>
      <td mat-cell *matCellDef="let element"> {{element.song}} </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="dateTimeEntered">
      <th mat-header-cell *matHeaderCellDef> Date/Time </th>
      <td mat-cell *matCellDef="let element"> {{getDateAsString(element.dateTimeEntered)}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="w-150"></th>
      <td mat-cell *matCellDef="let element">
        <!-- <button mat-icon-button class="icon-button" (click)="edit(element)"><mat-icon>edit</mat-icon></button> -->
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row" (click)="rowClick(row)"></tr>
  </table>

</div>

<div class="loader-container">
  <img class="loader" src="/assets/images/loading.gif" *ngIf="loading">
</div>